6-modal/fontawesome-free-5.12.0-web
7-questions/fontawesome-free-5.12.0-web
8-menu/fontawesome-free-5.12.0-web
10-scroll/fontawesome-free-5.12.0-web
14-todo/fontawesome-free-5.12.0-web
basic-ajax-exercises/2-random-user/fontawesome-free-5.12.0-web
